<%= simple_form_for @incident_form, url: incidents_path do |f| %>
  <h2>Basic inforation</h2>
  <%= f.input :summary, label: "Incident summary" %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :year %>
    </div>
    <div class="col-md-6">
      <%= f.input :month, collection: months, prompt: "Select" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :city %>
    </div>
    <div class="col-md-4">
      <%= f.input :state, collection: us_states, prompt:"Select" %>
    </div>
    <div class="col-md-4">
      <%= f.input :context, collection: context_values, prompt: "Select contex", label:"What lead to the encounter?" %>
    </div>
  </div>

  <h2>Abuse information</h2>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :force_variety, collection: force_variety, input_html: {multiple: true, size:6 } %>
      <%= f.input :intimidation_variety, collection: intimidation_variety, input_html: {multiple: true, size:6 } %>
    </div>
    <div class="col-md-4">
      <%= f.input :search_variety, collection: search_variety, input_html: {multiple: true, size:6 } %>
      <%= f.input :sexual_variety, collection: sexual_variety, input_html: {multiple: true, size:6 } %>
    </div>
    <div class="col-md-4">
      <%= f.input :misconduct_variety, collection: misconduct_variety, input_html: {multiple: true, size:6 } %>
      <%= f.input :escalation_variety, collection: escalation_variety, input_html: {multiple: true, size:6 } %>
    </div>
  </div>
  <%= f.input :abuse_animal, label:"Unreasonable attack on an animal", as: :boolean %>
  <%= f.input :abuse_restrained, label:"Some abuse targeted at restrained individual", as: :boolean %>

  <h2>Victim information</h2>
  <%= f.input :victim_count %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :victim_race, collection: race_variety, input_html: {multiple: true, size:6 } %>
    </div>
    <div class="col-md-4">
      <%= f.input :victim_age, collection: victim_age, input_html: {multiple: true, size:6 } %>
    </div>
    <div class="col-md-4">
      <%= f.input :victim_gender, collection: gender_variety, input_html: {multiple: true, size:6 } %>
    </div>
  </div>
  <%= f.input :victim_notes %>

  <h2>Abuser information</h2>
  <%= f.input :officer_count %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :officer_race, collection: race_variety, input_html: {multiple: true, size:6 } %>
    </div>
    <div class="col-md-4">
      <%= f.input :officer_tenure, collection: officer_tenure, input_html: {multiple: true, size:6 } %>
    </div>
    <div class="col-md-4">
      <%= f.input :officer_gender, collection: gender_variety, input_html: {multiple: true, size:6 } %>
    </div>
  </div>

    <%= f.input :department_name, url: autocomplete_department_name_incidents_path, :as => :autocomplete,
        update_elements: {city: '#incident_form_department_city',
                          state: '#incident_form_department_state',
                          county: '#incident_form_department_county',
                          level: '#incident_form_department_level'},
        input_html: {class:"form-control"} %>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :department_city %>
    </div>
    <div class="col-md-3">
      <%= f.input :department_state, collection: us_states, prompt:"Select" %>
    </div>
    <div class="col-md-3">
      <%= f.input :department_county %>
    </div>
    <div class="col-md-3">
      <%= f.input :department_level, collection: department_levels, prompt:"Select" %>
    </div>
  </div>
  <%= f.input :department_notes %>


  <h2>Outcomes</h2>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :outcome_physical_variety, collection: physical_outcomes, input_html: {multiple: true, size:6 } %>
      <%= f.input :outcome_internal_variety, collection: internal_outcomes, input_html: {multiple: true, size:6 } %>
    </div>
    <div class="col-md-4">
      <%= f.input :outcome_legal_variety, collection: legal_outcomes, input_html: {multiple: true, size:6 } %>
      <%= f.input :outcome_dept_statement_variety, collection: statements, input_html: {multiple: true, size:6 } %>
    </div>
    <div class="col-md-4">
      <%= f.input :outcome_hr_variety, collection: hr_outcomes, input_html: {multiple: true, size:6 } %>
      <%= f.input :outcome_union_statement_variety, collection: statements, input_html: {multiple: true, size:6 } %>
    </div>
  </div>
  <%= f.input :outcome_dollars, label:"Total dollar amount for awards/settlements" %>

  <%= f.submit "Submit incident" %>

<% end %>
