<p id="notice"><%= notice %></p>

<h1>Listing Incidents</h1>
<p><strong><%= @incidents.count %></strong> <%= "incident".pluralize(@incidents.count) %> and counting.</p>


<%= link_to 'New Incident', new_incident_path %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Summary</th>
      <th>Department</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= link_to incident.summary, incident %></td>
        <td><%= incident.department.name %></td>
        <td><%= link_to 'Edit', edit_incident_path(incident) %>
            <%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident', new_incident_path %>
