<p id="notice"><%= notice %></p>
<%= show_for @incident do |i| %>
  <h2>Basic inforation</h2>
  <%= i.attribute :summary %>
  <div class="row">
    <div class="col-md-6">
      <%= i.attribute :year %>
    </div>
    <div class="col-md-6">
      <%= i.attribute :month %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= i.attribute :city %>
    </div>
    <div class="col-md-4">
      <%= i.attribute :state %>
    </div>
    <div class="col-md-4">
      <%= i.attribute :context %>
    </div>
  </div>
<% end %>
